body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: white;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #000;
  color: white;
  border-bottom: 1px solid #222;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  cursor: pointer;
  font-weight: 600;
  color: #ff7a00;
  transition: 0.3s;
}

nav ul li:hover {
  color: white;
}


.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #ff6a00;
}



.hero h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 42px;
  margin-bottom: 10px;
  color: #ff7a00;
  letter-spacing: 2px;
}


.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  padding: 12px 25px;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.products {
  padding: 60px 20px;
  text-align: center;
  background-color: #111;
}

.card {
  background-color: #1a1a1a;
  padding: 20px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(255, 100, 0, 0.2);
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.hero {
  text-align: center;
  padding: 120px 20px;
  
}

.hero-logo {
  width: 280px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 20px rgba(255, 100, 0, 0.8));
  animation: fadeIn 1.5s ease-in-out;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #ff6a00;
  text-shadow: 0 0 15px rgba(255, 100, 0, 0.6);
}

.hero p {
  color: #ccc;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation: fadeIn 1.2s ease-in-out;
}
.main-logo {
  max-width: 180px;
  height: auto;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 20px rgba(255,120,0,0.6));
}
